{% extends 'layout.twig' %}
{% block body %}
<div align="right">
    <a href="/news/edit/?id={{article.id}}" class="btn btn-dark">Редактировать новость</a> ||
    <a href="/news/delete/?id={{article.id}}" class="btn btn-danger">Удалить новость</a>
</div>
<h1 id="articleTitle">{{article.title}}</h1>

<p>
    {{article.text}}
</p>
{% for comment in comments %}
   <div class="comment">
    <span class="userName">{{ comment.username }}</span>
       <div class="commentBody">{{ comment.text }}<br>
           <a href="/comment/delete/?commentId={{comment.id}}&articleId={{ article.id }}">Удалить комментарий</a>
       </div>
   </div>
{% endfor %}

    <form id="editForm" action="/comment/create/?id={{article.id}}" method="post" class="form-group">
        <input type="text" name="username" class="form-control"><br>
        <input type="text" name="text" class="form-control"><br>
        <button type="submit" class="btn btn-success">Отправить коммент</button>
    </form>
{% endblock %}
