{% block body %}
{% for comment in comments %}
<div class="comment">
    <span class="userName">{{ comment.username }}</span>
    <div class="commentBody">{{ comment.text }}<br>
        <a href="/comment/delete/?commentId={{comment.id}}&articleId={{ article.id }}">Удалить комментарий</a>
    </div>
</div>
{% endfor %}
{% if session.logged %}
{% if session.errorsExist == true %}
<div class="alert-danger">Некорректно введены данные</div>
{% endif %}
<form id="editForm" action="/comment/create/?newsId={{article.id}}" method="post" class="form-group">

    <input type="text" name="username" class="form-control" value="{{ session.logged }}"><br>

    <input type="text" name="text" class="form-control"><br>
    <button type="submit" class="btn btn-success">Отправить коммент</button>
</form>
{% endif %}

{% endblock %}
